In [4]:
import pandas as pd
import numpy as np

In [43]:
# Import data
df = pd.read_csv("/Users/jiahuan/Desktop/我的电脑/Psy_ in_Singapore/CP1404/CP1404practicals/prac_10/Iris.csv")

In [44]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [45]:
df.set_index("Id", inplace=True)
df.index
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [49]:
df.loc[[1,2], "SepalLengthCm"]

Id
1    5.1
2    4.9
Name: SepalLengthCm, dtype: float64

In [51]:
df.loc[[1,2], ["SepalLengthCm","Species"]]

    SepalLengthCm      Species
Id
1             5.1  Iris-setosa
2             4.9  Iris-setosa

In [52]:
df.loc[1:10, "Species"]

Id
1     Iris-setosa
2     Iris-setosa
3     Iris-setosa
4     Iris-setosa
5     Iris-setosa
6     Iris-setosa
7     Iris-setosa
8     Iris-setosa
9     Iris-setosa
10    Iris-setosa
Name: Species, dtype: object

In [53]:
df.loc[1,"SepalLengthCm":"Species"]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [54]:
df.loc[1:5,"SepalLengthCm":"Species"]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [56]:
df.loc[df["Species"] == "Iris-setosa"]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa
13            4.8           3.0            1.4           0.1  Iris-setosa
14            4.3           3.0            1.1           0.1  Iris-setosa
15            5.8           4.0            1.2           0.2  Iris-setosa
16            5.7           4.4            1.5           0.4  Iris-setosa
17            5.4           3.9            1.3           0.4  Iris-setosa
18            5.1           3.5            1.4           0.3  Iris-setosa
19            5.7           3.8            1.7           0.3  Iris-setosa
20            5.1           3.8            1.5           0.3  Iris-setosa
21            5.4           3.4            1.7           0.2  Iris-setosa
22            5.1           3.7            1.5           0.4  Iris-setosa
23            4.6           3.6            1.0           0.2  Iris-setosa
24            5.1           3.3            1.7           0.5  Iris-setosa
25            4.8           3.4            1.9           0.2  Iris-setosa
26            5.0           3.0            1.6           0.2  Iris-setosa
27            5.0           3.4            1.6           0.4  Iris-setosa
28            5.2           3.5            1.5           0.2  Iris-setosa
29            5.2           3.4            1.4           0.2  Iris-setosa
30            4.7           3.2            1.6           0.2  Iris-setosa
31            4.8           3.1            1.6           0.2  Iris-setosa
32            5.4           3.4            1.5           0.4  Iris-setosa
33            5.2           4.1            1.5           0.1  Iris-setosa
34            5.5           4.2            1.4           0.2  Iris-setosa
35            4.9           3.1            1.5           0.1  Iris-setosa
36            5.0           3.2            1.2           0.2  Iris-setosa
37            5.5           3.5            1.3           0.2  Iris-setosa
38            4.9           3.1            1.5           0.1  Iris-setosa
39            4.4           3.0            1.3           0.2  Iris-setosa
40            5.1           3.4            1.5           0.2  Iris-setosa
41            5.0           3.5            1.3           0.3  Iris-setosa
42            4.5           2.3            1.3           0.3  Iris-setosa
43            4.4           3.2            1.3           0.2  Iris-setosa
44            5.0           3.5            1.6           0.6  Iris-setosa
45            5.1           3.8            1.9           0.4  Iris-setosa
46            4.8           3.0            1.4           0.3  Iris-setosa
47            5.1           3.8            1.6           0.2  Iris-setosa
48            4.6           3.2            1.4           0.2  Iris-setosa
49            5.3           3.7            1.5           0.2  Iris-setosa
50            5.0           3.3            1.4           0.2  Iris-setosa

In [57]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [62]:
df.loc[:,"Species"] = df["Species"].str.replace("Iris","IRIS")
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  IRIS-setosa
2             4.9           3.0            1.4           0.2  IRIS-setosa
3             4.7           3.2            1.3           0.2  IRIS-setosa
4             4.6           3.1            1.5           0.2  IRIS-setosa
5             5.0           3.6            1.4           0.2  IRIS-setosa

In [65]:
df.loc[:,"wencha"] = df["PetalLengthCm"] - df["PetalWidthCm"]
df.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,wencha
Id,,,,,,
1,5.1,3.5,1.4,0.2,IRIS-setosa,1.2
2,4.9,3.0,1.4,0.2,IRIS-setosa,1.2
3,4.7,3.2,1.3,0.2,IRIS-setosa,1.1
4,4.6,3.1,1.5,0.2,IRIS-setosa,1.3
5,5.0,3.6,1.4,0.2,IRIS-setosa,1.2

In [66]:
df.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      wencha
count     150.000000    150.000000     150.000000    150.000000  150.000000
mean        5.843333      3.054000       3.758667      1.198667    2.560000
std         0.828066      0.433594       1.764420      0.763161    1.050152
min         4.300000      2.000000       1.000000      0.100000    0.800000
25%         5.100000      2.800000       1.600000      0.300000    1.400000
50%         5.800000      3.000000       4.350000      1.300000    2.900000
75%         6.400000      3.300000       5.100000      1.800000    3.300000
max         7.900000      4.400000       6.900000      2.500000    4.700000

In [69]:
df["SepalLengthCm"].min()

4.3

In [70]:
df["Species"].unique()

array(['IRIS-setosa', 'IRIS-versicolor', 'IRIS-virginica'], dtype=object)

In [72]:
df["Species"].value_counts()

Species
IRIS-setosa        50
IRIS-versicolor    50
IRIS-virginica     50
Name: count, dtype: int64

In [81]:
df["SepalLengthCm"].corr(df["SepalWidthCm"])

-0.1093692499506493

In [83]:
df.isnull()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species  wencha
Id
1            False         False          False         False    False   False
2            False         False          False         False    False   False
3            False         False          False         False    False   False
4            False         False          False         False    False   False
5            False         False          False         False    False   False
..             ...           ...            ...           ...      ...     ...
146          False         False          False         False    False   False
147          False         False          False         False    False   False
148          False         False          False         False    False   False
149          False         False          False         False    False   False
150          False         False          False         False    False   False

[150 rows x 6 columns]

In [90]:
df[1]

KeyError: 1

In [89]:
df.loc[1]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          IRIS-setosa
wencha                   1.2
Name: 1, dtype: object

In [92]:
df.loc[pd.Index[1, 2, 3]]

TypeError: type 'Index' is not subscriptable

In [100]:
df.loc[[1,5]]

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,wencha
Id,,,,,,
1,5.1,3.5,1.4,0.2,IRIS-setosa,1.2
5,5.0,3.6,1.4,0.2,IRIS-setosa,1.2

In [103]:
df.loc[:,"SepalWidthCm":"Species"]

     SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1             3.5            1.4           0.2     IRIS-setosa
2             3.0            1.4           0.2     IRIS-setosa
3             3.2            1.3           0.2     IRIS-setosa
4             3.1            1.5           0.2     IRIS-setosa
5             3.6            1.4           0.2     IRIS-setosa
..            ...            ...           ...             ...
146           3.0            5.2           2.3  IRIS-virginica
147           2.5            5.0           1.9  IRIS-virginica
148           3.0            5.2           2.0  IRIS-virginica
149           3.4            5.4           2.3  IRIS-virginica
150           3.0            5.1           1.8  IRIS-virginica

[150 rows x 4 columns]

In [109]:
df.loc[[1,2,5],["PetalWidthCm","Species"]]

    PetalWidthCm      Species
Id
1            0.2  IRIS-setosa
2            0.2  IRIS-setosa
5            0.2  IRIS-setosa

In [3]:
s = pd.Series(1,3,5, np.nan, 6,8)

NameError: name 'pd' is not defined