In [2]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [14]:
dates = pd.date_range('20130101', periods=6)

In [15]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns=list('ABCD'))

In [21]:
df

                   A         B         C         D
2013-01-01  0.236449 -0.155890  0.008515 -0.608064
2013-01-02  0.000899 -0.526709 -0.953149  1.200450
2013-01-03  1.566941 -1.041163 -1.621782 -0.825316
2013-01-04  1.574376 -0.834123 -0.469845 -0.142087
2013-01-05  0.277733 -0.180741  0.985090  0.747997
2013-01-06 -0.238001 -2.022159  1.641314 -1.036292

In [24]:
df2 = pd.DataFrame({"A":1.,
                    "B":pd.Timestamp("20130102"),
                    "C":pd.Series(1,index=list(range(4)), dtype='float32'),
                    "D":np.array([3]*4, dtype='int32'),
                    "E": pd.Categorical(["test", "train", "test", "train"]),
                    "F": "foo"})

In [25]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [26]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [28]:
df.head()

                   A         B         C         D
2013-01-01  0.236449 -0.155890  0.008515 -0.608064
2013-01-02  0.000899 -0.526709 -0.953149  1.200450
2013-01-03  1.566941 -1.041163 -1.621782 -0.825316
2013-01-04  1.574376 -0.834123 -0.469845 -0.142087
2013-01-05  0.277733 -0.180741  0.985090  0.747997

In [30]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.574376 -0.834123 -0.469845 -0.142087
2013-01-05  0.277733 -0.180741  0.985090  0.747997
2013-01-06 -0.238001 -2.022159  1.641314 -1.036292

In [31]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [32]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [35]:
df.to_numpy()

array([[ 2.36449013e-01, -1.55890159e-01,  8.51493858e-03,
        -6.08064497e-01],
       [ 8.99461346e-04, -5.26708615e-01, -9.53149458e-01,
         1.20045020e+00],
       [ 1.56694119e+00, -1.04116278e+00, -1.62178232e+00,
        -8.25315866e-01],
       [ 1.57437574e+00, -8.34123373e-01, -4.69844761e-01,
        -1.42086587e-01],
       [ 2.77732834e-01, -1.80740848e-01,  9.85089626e-01,
         7.47996720e-01],
       [-2.38000908e-01, -2.02215940e+00,  1.64131427e+00,
        -1.03629192e+00]])

In [38]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [39]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.569733 -0.793464 -0.068310 -0.110552
std    0.797004  0.696533  1.216208  0.902466
min   -0.238001 -2.022159 -1.621782 -1.036292
25%    0.059787 -0.989403 -0.832323 -0.771003
50%    0.257091 -0.680416 -0.230665 -0.375076
75%    1.244639 -0.267233  0.740946  0.525476
max    1.574376 -0.155890  1.641314  1.200450

In [40]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.236449    0.000899    1.566941    1.574376    0.277733   -0.238001
B   -0.155890   -0.526709   -1.041163   -0.834123   -0.180741   -2.022159
C    0.008515   -0.953149   -1.621782   -0.469845    0.985090    1.641314
D   -0.608064    1.200450   -0.825316   -0.142087    0.747997   -1.036292

In [46]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2013-01-01 -0.608064  0.008515 -0.155890  0.236449
2013-01-02  1.200450 -0.953149 -0.526709  0.000899
2013-01-03 -0.825316 -1.621782 -1.041163  1.566941
2013-01-04 -0.142087 -0.469845 -0.834123  1.574376
2013-01-05  0.747997  0.985090 -0.180741  0.277733
2013-01-06 -1.036292  1.641314 -2.022159 -0.238001

                   A         B         C         D
2013-01-01  0.236449 -0.155890  0.008515 -0.608064
2013-01-02  0.000899 -0.526709 -0.953149  1.200450
2013-01-03  1.566941 -1.041163 -1.621782 -0.825316
2013-01-04  1.574376 -0.834123 -0.469845 -0.142087
2013-01-05  0.277733 -0.180741  0.985090  0.747997
2013-01-06 -0.238001 -2.022159  1.641314 -1.036292